.login{
    float:right;
}

.main{
    display:grid;
    grid-template-areas: 
    'p d u l';

    
}

.profile{
    grid-area: p;
}
.dialog{
    grid-area: d;
}
.users{
    grid-area: u;
}
.login{
    grid-area: l;
}
